
body {
    padding: 0px;
    font-family: arial, sans-serif;
    color:#333;
    width: 70%;
    margin:0px auto;
}

body>ul {
    margin-left:5%;
}

ul {
    margin-top:0;
}

h1:first-of-type {
    background-color: #6c8499;
    color: white;
    margin-bottom: 20px;
    padding: 10px;
    margin-top:0;
    box-sizing:border-box;
    font-size:1.2em;
}

.contact-details {
    margin-top:20px;
    font-size:0.95em;
    color:black;
}

.contact-details p em {
    display:inline-block;
    width:145px;
    font-weight:normal;
    font-style:normal;
}

.contact-details a {
    color:black;
    text-decoration: none;
}

.contact-details p {
    margin-top:4px;
    margin-bottom:4px;
}

blockquote {
    color:black;
    font-size:0.90em;
    font-style: italic;
    margin:0;
}

blockquote p {
    margin-top: 25px;
    line-height:1.5;
}

h1 {
    font-size:1.5em;
    margin-top:15px;
    margin-bottom:4px;
    color: #3d85c6;
    clear:left;
}

h2 {
    margin-top:4px;
    margin-bottom:4px;
    color:black;
    font-size:1.2em;
}

h3 {
    font-weight:bold;
}

.experience-container {
    margin-left:5%;
    width:95%;
}

.experience-container h2 {
    margin-left: -5%;
    margin-bottom:4px;
    margin-top:5px;
    color:black;
    font-size:1.1em;
}

.experience-container ~ .experience-container h2 {
    margin-top:20px;
}

.experience-container h3 {
    color: black;
    font-size:1.0em;
    margin-top:15px;
}

.experience-container h4 {
    color: #666;
    font-size:0.9em;
    font-weight:bold;
    margin-top:15px;
}

.experience-container p, .experience-container li {
    font-size:0.8rem;
}

.experience-container ul {
    margin-left:0px;
    margin-top:0;
    margin-bottom:0;
}

h1, h2 {
    font-weight:normal;
}

h4 {
    margin-bottom:0;
}

em {
    font-weight:bold;
}

li {
    padding: 4px 2px;
    font-size:0.8rem;
}

h1.skills ~ h2 {
    font-weight:bold;
}

h1.skills ~ h2 ~ h1 ~ h2 {
    font-weight:normal;
}

h1.skills + h2.expertlevel {
    margin-left:5%;
    float:left;
    width:55%;
}

h1.skills + h2.expertlevel + ul {
    float:left;
    clear:left;
    margin-left:5%;
    width:55%;
    box-sizing:border-box;
}

h1.skills ~ h2.intermediatelevel + ul {
    float:left;
    width:40%;
    box-sizing:border-box;
    margin-left:0;
}

h1.awards {
    clear:left;
}

h1.education ~ h2 {
    float:left;
    width:15%;
    font-size:1em;
}
h1.education ~ h2 + ul {
    float:left;
    width:85%;
    box-sizing: border-box;
    margin:0;
    margin-bottom:10px;
    list-style:none;
    padding-left:20px;
}

h1.references {
    clear:left;
}

h1.references ~ h2 {
    float:none;
    width:auto;
}

h1.education ~ ul em {
    display:block;
}

.references-container {
    overflow:hidden;
}

.reference-container {
    float:left;
    width:50%;
}

.reference-container p {
    line-height:0.5em;
}

@media print {
    @page {
        size: auto;
        margin: 10mm;
    }
    blockquote {
        font-size:0.75em;
    }
    body {
        width: 100%;
        margin: 0px;
    }
    h1:first-of-type {
    }
    .experience-container h3 {
        margin-bottom:5px;
    }
    .experience-container h4 {
        margin-top:10px;
    }
}
